<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <title>Test</title>
    </head>

    <body>
        <section class="wrapper">
            <header></header>

            <main>
                <section class="contact-us">
                    <div class="description">
                        <p>
                            This app determines if provided URL text expresses a
                            positive/negative/neutral sentiment using the NLP (natural language
                            processing) technique
                        </p>
                    </div>
                    <form class="form" onsubmit="return Client.handleSubmit(event)">
                        <input
                            id="url"
                            type="text"
                            name="input"
                            value=""
                            placeholder="Please enter the url"
                        />
                        <button
                            type="button"
                            name=""
                            onclick="return Client.handleSubmit(event)"
                            onsubmit="return Client.handleSubmit(event)"
                        >
                            Submit
                        </button>
                    </form>
                    <div class="results">
                        <div id="score_tag"></div>
                        <div id="confidence"></div>
                        <div id="irony"></div>
                        <div id="error"></div>
                    </div>
                </section>
            </main>

            <footer></footer>
        </section>
    </body>
</html>
