<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=0.8" />
        <title>NLP App</title>
    </head>

    <body>
        <section class="wrapper">
            <header></header>

            <main>
                <section class="contact-us">
                    <div class="description">
                        <p>
                            This app determines if provided URL text expresses a
                            positive/negative/neutral sentiment using the Natural Language
                            Processing (NLP) technique
                        </p>
                    </div>
                    <form class="form" onsubmit="return Client.handleSubmit(event)">
                        <input
                            id="url"
                            type="text"
                            name="input"
                            value=""
                            placeholder="Please enter the url"
                        />
                        <button
                            type="button"
                            name=""
                            onclick="return Client.handleSubmit(event)"
                            onsubmit="return Client.handleSubmit(event)"
                        >
                            Submit
                        </button>
                    </form>
                    <div class="results">
                        <div id="score_tag"></div>
                        <div id="confidence"></div>
                        <div id="irony"></div>
                        <div id="error"></div>
                    </div>
                </section>
            </main>

            <footer>
                <div class="page-footer">
                    <small
                        >Made with <span>❤</span> by Evgeny Tolkachev</a>
                    </small>
                </div>
            </footer>
        </section>
        <script>
            // Check that service workers are supported
            if ("serviceWorker" in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener("load", () => {
                    navigator.serviceWorker.register("/service-worker.js");
                });
            }
        </script>
    </body>
</html>
