@import url("https://fonts.googleapis.com/css?family=Nunito");
$font-stack: "Nunito", sans-serif;

$start-color: #0575e6;
$end-color: #021b79;
$p-color: #929da6;
$button-background: #0575e6;
$input-background: #e4eff8;
$error-color: #e10909;
$radius-50: 50px;
$padding-15: 15px;

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: $start-color;
    background: linear-gradient(to right, $start-color, $end-color) no-repeat;
    font-family: $font-stack;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .contact-us {
        background: #fff;
        padding: 80px;
        max-width: 500px;
        min-width: 200px;
        border-radius: 10px;
        text-align: center;

        .description {
            color: $p-color;
            font-size: 20px;
        }

        .form {
            padding: $padding-15;
        }

        input {
            border: unset;
            background-color: $input-background;
            padding: $padding-15;
            font-size: 16px;
            border-radius: $radius-50;
            width: 250px;

            &:focus {
                outline: none;
            }
        }

        button {
            background-color: $button-background;
            color: #fff;
            border: unset;
            width: 125px;
            border-radius: $radius-50;
            padding: $padding-15;
            margin-left: 10px;
            cursor: pointer;
            font-size: 16px;

            &:focus {
                outline: none;
            }

            &:hover {
                background-color: #021c7a;
            }
        }

        .results {
            font-size: 20px;
            color: $p-color;
        }

        #error {
            color: $error-color;
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 700px) {
    .wrapper {
        .contact-us {
            margin-right: 20px;
            margin-left: 20px;
            max-width: 250px;

            input {
                margin-bottom: 12px;
                width: 190px;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .wrapper {
        .contact-us {
            max-width: 200px;

            input {
                width: 150px;
            }

            button {
                width: 150px;
            }
        }
    }
}
